.posts {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: auto;
  margin: auto;
  padding: 0 5px;
  margin-top: 5px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 1024px) {
  .posts {
    width: 40%;
  }
}
