.App {
  margin: 0;
  padding: 0;
}
:root {
  --header-height: 0; /* Set a default value */
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
button {
  list-style: none;
  border: none;
  margin: none;
  padding: none;
  outline: none;
}
